@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 2, 4);
  /* border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px; */
}

.image-hover {
  transition: filter 0.5s ease;
  -webkit-transition: filter 0.5s ease;
  -moz-transition: filter 0.5s ease;
  -ms-transition: filter 0.5s ease;
  -o-transition: filter 0.5s ease;
}

.image-hover:hover {
  filter: blur(4px);
  /* Blurs the image when hovered */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 31, 56);
}

.bg-image {
  background: url('https: //images.unsplash.com/photo-1465877783223-4eba513e27c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat fixed;
}

.form-container {
  position: relative;
  z-index: 1;
}